* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v473_828 {
  width: 100%;
  height: 28930px;
  background: rgba(255,255,255,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_829 {
  width: 100%;
  height: 2229px;
  background: rgba(91,185,158,1);
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_830 {
  width: 100%;
  height: 420px;
  background: url("../images/v473_830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 904px;
  left: 100px;
  overflow: hidden;
}
.v473_831 {
  width: 100%;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 209px;
  opacity: 1;
  text-align: left;
}
.v473_832 {
  width: 100%;
  color: rgba(241,241,241,1);
  position: absolute;
  top: 313px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 89px;
  opacity: 1;
  text-align: left;
}
.v473_833 {
  width: 100%;
  height: 1px;
  background: url("../images/v473_833.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 302px;
  opacity: 1;
  position: absolute;
  top: 2477px;
  left: 0px;
  overflow: hidden;
}
.v473_834 {
  width: 329px;
  height: 242px;
  background: url("../images/v473_834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 100px;
  overflow: hidden;
}
.v473_835 {
  width: 154px;
  height: 203px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_836 {
  width: 329px;
  height: 242px;
  background: url("../images/v473_836.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_837 {
  width: 37px;
  height: 203px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
}
.v473_838 {
  width: 113px;
  height: 203px;
  background: url("../images/v473_838.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 215px;
  overflow: hidden;
}
.v473_839 {
  width: 75px;
  height: 36px;
  background: rgba(91,185,158,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 37px;
}
.v473_840 {
  width: 113px;
  height: 203px;
  background: rgba(91,185,158,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_841 {
  width: 328px;
  height: 29px;
  background: url("../images/v473_841.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 0px;
  overflow: hidden;
}
.v473_842 {
  width: 18px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_843 {
  width: 16px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
}
.v473_844 {
  width: 23px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
}
.v473_845 {
  width: 23px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
}
.v473_846 {
  width: 20px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
}
.v473_847 {
  width: 0px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 128px;
}
.v473_848 {
  width: 23px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
}
.v473_849 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 163px;
}
.v473_850 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 193px;
}
.v473_851 {
  width: 23px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 213px;
}
.v473_852 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
}
.v473_853 {
  width: 20px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
}
.v473_854 {
  width: 21px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 287px;
}
.v473_855 {
  width: 19px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 309px;
}
.v473_856 {
  width: 100%;
  height: 186px;
  background: url("../images/v473_856.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 696px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 100px;
  overflow: hidden;
}
.v473_857 {
  width: 518px;
  height: 154px;
  background: url("../images/v473_857.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v473_858 {
  width: 518px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_859 {
  width: 518px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_860 {
  width: 917px;
  height: 186px;
  background: url("../images/v473_860.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1363px;
  overflow: hidden;
}
.v473_861 {
  width: 110px;
  height: 186px;
  background: url("../images/v473_861.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_862 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_863 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_864 {
  width: 110px;
  height: 186px;
  background: url("../images/v473_864.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 349px;
  overflow: hidden;
}
.v473_865 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_866 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_867 {
  width: 219px;
  height: 186px;
  background: url("../images/v473_867.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 698px;
  overflow: hidden;
}
.v473_868 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_869 {
  width: 219px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 134px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_872 {
  width: 100%;
  height: 3508px;
  background: rgba(91,185,158,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 3062px;
  left: 0px;
  overflow: hidden;
}
.v473_873 {
  width: 100%;
  height: 2229px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_874 {
  width: 100%;
  height: 265px;
  background: url("../images/v473_874.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_875 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_875.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_876 {
  width: 530px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_877 {
  width: 396px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_878 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 377px;
  left: 100px;
  font-family: Archivo;
  font-weight: SemiBold;
  font-size: 140px;
  opacity: 1;
  text-align: left;
}
.v473_879 {
  width: 100%;
  height: 1200px;
  background: url("../images/v473_879.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 844px;
  left: 100px;
  overflow: hidden;
}
.v473_880 {
  width: 597px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 78px;
  opacity: 1;
  text-align: left;
}
.v473_881 {
  width: 597px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 213px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.v473_882 {
  width: 100%;
  height: 659px;
  background: url("../images/v473_882.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 0px;
  overflow: hidden;
}
.v473_883 {
  width: 100%;
  height: 70px;
  background: url("../images/v473_883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_884 {
  width: 711px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_885 {
  width: 711px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1021px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_887 {
  width: 100%;
  height: 70px;
  background: url("../images/v473_887.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 0px;
  overflow: hidden;
}
.v473_888 {
  width: 702px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_889 {
  width: 551px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 872px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_891 {
  width: 100%;
  height: 70px;
  background: url("../images/v473_891.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 382px;
  left: 0px;
  overflow: hidden;
}
.v473_892 {
  width: 723px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_893 {
  width: 723px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1112px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_895 {
  width: 100%;
  height: 86px;
  background: url("../images/v473_895.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 0px;
  overflow: hidden;
}
.v473_896 {
  width: 663px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_897 {
  width: 663px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 951px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_899 {
  width: 597px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 1157px;
  left: 0px;
  font-family: Archivo;
  font-weight: Regular;
  font-size: 39px;
  opacity: 1;
  text-align: left;
}
.v473_900 {
  width: 100%;
  height: 677px;
  background: rgba(91,185,158,1);
  padding: 20px 100px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 2486px;
  left: 0px;
  overflow: hidden;
}
.v473_901 {
  width: 100%;
  height: 468px;
  background: url("../images/v473_901.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 100px;
  overflow: hidden;
}
.v473_902 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_903 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_904 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 424px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_905 {
  width: 100%;
  height: 637px;
  background: url("../images/v473_905.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1278px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v473_909 {
  width: 100%;
  height: 3508px;
  background: rgba(255,255,255,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 6818px;
  left: 0px;
  overflow: hidden;
}
.v473_910 {
  width: 100%;
  height: 2229px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_911 {
  width: 100%;
  height: 196px;
  background: url("../images/v473_911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_912 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_912.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_913 {
  width: 724px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_914 {
  width: 396px;
  color: rgba(160,88,174,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_915 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 100px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_916 {
  width: 100%;
  height: 914px;
  background: url("../images/v473_916.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 100px;
  overflow: hidden;
}
.v473_917 {
  width: 100%;
  height: 1873px;
  background: url("../images/v473_917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 1439px;
  left: 100px;
  overflow: hidden;
}
.v473_918 {
  width: 100%;
  height: 454px;
  background: url("../images/v473_918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_919 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_920 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_921 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 204px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_922 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 410px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_923 {
  width: 100%;
  height: 352px;
  background: url("../images/v473_923.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 575px;
  left: 0px;
  overflow: hidden;
}
.v473_924 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_925 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_926 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_927 {
  width: 100%;
  height: 352px;
  background: url("../images/v473_927.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1048px;
  left: 0px;
  overflow: hidden;
}
.v473_928 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_929 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_930 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_931 {
  width: 100%;
  height: 352px;
  background: url("../images/v473_931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1521px;
  left: 0px;
  overflow: hidden;
}
.v473_932 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_933 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_934 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_938 {
  width: 100%;
  height: 3508px;
  background: rgba(255,255,255,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 10574px;
  left: 0px;
  overflow: hidden;
}
.v473_939 {
  width: 100%;
  height: 2229px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_940 {
  width: 100%;
  height: 196px;
  background: url("../images/v473_940.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_941 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_942 {
  width: 746px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_943 {
  width: 396px;
  color: rgba(160,88,174,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_944 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 100px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_945 {
  width: 100%;
  height: 100%;
  background: url("../images/v473_945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 100px;
  overflow: hidden;
}
.v473_946 {
  width: 100%;
  height: 1699px;
  background: url("../images/v473_946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 1582px;
  left: 100px;
  overflow: hidden;
}
.v473_947 {
  width: 100%;
  height: 1699px;
  background: url("../images/v473_947.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_948 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_949 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_950 {
  width: 917px;
  height: 204px;
  background: url("../images/v473_950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 1495px;
  left: 0px;
  overflow: hidden;
}
.v473_951 {
  width: 159px;
  height: 204px;
  background: url("../images/v473_951.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_952 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_953 {
  width: 159px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 152px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_954 {
  width: 160px;
  height: 204px;
  background: url("../images/v473_954.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 757px;
  overflow: hidden;
}
.v473_955 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_956 {
  width: 160px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 152px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_960 {
  width: 100%;
  height: 3508px;
  background: rgba(255,255,255,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 14330px;
  left: 0px;
  overflow: hidden;
}
.v473_961 {
  width: 100%;
  height: 2229px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 111px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_962 {
  width: 100%;
  height: 196px;
  background: url("../images/v473_962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_963 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_963.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_964 {
  width: 100%;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_965 {
  width: 396px;
  color: rgba(160,88,174,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_966 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 357px;
  left: 100px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_967 {
  width: 100%;
  height: 1925px;
  background: url("../images/v473_967.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 561px;
  left: 100px;
  overflow: hidden;
}
.v473_968 {
  width: 100%;
  height: 1482px;
  background: url("../images/v473_968.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 89px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_969 {
  width: 100%;
  height: 52px;
  background: url("../images/v473_969.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 136px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_970 {
  width: 568px;
  height: 52px;
  background: url("../images/v473_970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_971 {
  width: 568px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_972 {
  width: 655px;
  height: 52px;
  background: url("../images/v473_972.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 809px;
  overflow: hidden;
}
.v473_973 {
  width: 655px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_974 {
  width: 588px;
  height: 52px;
  background: url("../images/v473_974.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 82px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1705px;
  overflow: hidden;
}
.v473_975 {
  width: 588px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_976 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 141px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_977 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 300px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_978 {
  width: 100%;
  height: 100%;
  background: url("../images/v473_978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2240px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v473_982 {
  width: 100%;
  height: 3508px;
  background: rgba(91,185,158,1);
  margin: 248px;
  opacity: 1;
  position: absolute;
  top: 18086px;
  left: 0px;
  overflow: hidden;
}
.v473_983 {
  width: 100%;
  height: 2229px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_984 {
  width: 100%;
  height: 265px;
  background: url("../images/v473_984.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_985 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_986 {
  width: 530px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_987 {
  width: 396px;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_988 {
  width: 100%;
  height: 842px;
  background: url("../images/v473_988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20px 0px;
  margin: 50px;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 100px;
  overflow: hidden;
}
.v473_989 {
  width: 100%;
  height: 790px;
  background: url("../images/v473_989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 0px;
  overflow: hidden;
}
.v473_990 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_991 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_992 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 424px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_993 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 500px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_994 {
  width: 100%;
  height: 745px;
  background: url("../images/v473_994.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 1178px;
  overflow: hidden;
}
.v473_995 {
  width: 100%;
  height: 352px;
  background: url("../images/v473_995.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1281px;
  left: 100px;
  overflow: hidden;
}
.v473_996 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_997 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_998 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_999 {
  width: 100%;
  height: 352px;
  background: url("../images/v473_999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1695px;
  left: 100px;
  overflow: hidden;
}
.v473_1000 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_1001 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_1002 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_1003 {
  width: 100%;
  height: 1026px;
  background: url("../images/v473_1003.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 403px 0px;
  margin: 89px;
  opacity: 1;
  position: absolute;
  top: 2109px;
  left: 100px;
  overflow: hidden;
}
.v473_1004 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 403px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v473_1005 {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 562px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v473_1109 {
  width: 100%;
  height: 3420px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 21842px;
  left: 0px;
  overflow: hidden;
}
.v473_1110 {
  width: 100%;
  height: 196px;
  background: url("../images/v473_1110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_1111 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_1111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_1112 {
  width: 100%;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_1113 {
  width: 396px;
  color: rgba(160,88,174,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_1114 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 100px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_1115 {
  width: 100%;
  height: 2825px;
  background: url("../images/v473_1115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 100px;
  overflow: hidden;
}
.v473_1116 {
  width: 100%;
  height: 250px;
  background: url("../images/v473_1116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_1117 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_1118 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 206px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_1119 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 288px;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 0px;
  overflow: hidden;
}
.v473_1120 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1121 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 395px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1122 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 569px;
  left: 0px;
  overflow: hidden;
}
.v473_1123 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1124 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1125 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 0px;
  overflow: hidden;
}
.v473_1126 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1127 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1128 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 0px;
  overflow: hidden;
}
.v473_1129 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1130 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1131 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 1163px;
  left: 0px;
  overflow: hidden;
}
.v473_1132 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1133 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1134 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 1361px;
  left: 0px;
  overflow: hidden;
}
.v473_1135 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1136 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1137 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 1559px;
  left: 0px;
  overflow: hidden;
}
.v473_1138 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1139 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1140 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 1757px;
  left: 0px;
  overflow: hidden;
}
.v473_1141 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1142 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1143 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 1956px;
  left: 0px;
  overflow: hidden;
}
.v473_1144 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1145 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1146 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 2154px;
  left: 0px;
  overflow: hidden;
}
.v473_1147 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1148 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1149 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1149.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 2352px;
  left: 0px;
  overflow: hidden;
}
.v473_1150 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1151 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1152 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 2550px;
  left: 0px;
  overflow: hidden;
}
.v473_1153 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1154 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1155 {
  width: 100%;
  height: 77px;
  background: url("../images/v473_1155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 171px;
  opacity: 1;
  position: absolute;
  top: 2748px;
  left: 0px;
  overflow: hidden;
}
.v473_1156 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 0px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1157 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 369px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v473_1159 {
  width: 100%;
  height: 3420px;
  background: rgba(255,255,255,1);
  padding: 50px 100px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 25510px;
  left: 0px;
  overflow: hidden;
}
.v473_1160 {
  width: 100%;
  height: 196px;
  background: url("../images/v473_1160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 75px 0px;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 100px;
  overflow: hidden;
}
.v473_1161 {
  width: 100%;
  height: 115px;
  background: url("../images/v473_1161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 62px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 0px;
  overflow: hidden;
}
.v473_1162 {
  width: 100%;
  color: rgba(91,185,158,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_1163 {
  width: 396px;
  color: rgba(160,88,174,1);
  position: absolute;
  top: 33px;
  left: 1897px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_1164 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 308px;
  left: 100px;
  font-family: Archivo;
  font-weight: Medium;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v473_1165 {
  width: 100%;
  height: 2907px;
  background: url("../images/v473_1165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 121px;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 100px;
  overflow: hidden;
}
.v473_1166 {
  width: 100%;
  height: 380px;
  background: url("../images/v473_1166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_1167 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_1168 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 206px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v473_1169 {
  width: 100%;
  height: 1399px;
  background: url("../images/v473_1169.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 251px;
  opacity: 1;
  position: absolute;
  top: 1507px;
  left: 0px;
  overflow: hidden;
}
.v473_1170 {
  width: 329px;
  height: 242px;
  background: url("../images/v473_1170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_1171 {
  width: 154px;
  height: 203px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_1172 {
  width: 329px;
  height: 242px;
  background: url("../images/v473_1172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v473_1173 {
  width: 37px;
  height: 203px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 162px;
}
.v473_1174 {
  width: 113px;
  height: 203px;
  background: url("../images/v473_1174.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 215px;
  overflow: hidden;
}
.v473_1175 {
  width: 75px;
  height: 36px;
  background: rgba(91,185,158,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 37px;
}
.v473_1176 {
  width: 113px;
  height: 203px;
  background: rgba(91,185,158,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_1177 {
  width: 328px;
  height: 29px;
  background: url("../images/v473_1177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 0px;
  overflow: hidden;
}
.v473_1178 {
  width: 18px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v473_1179 {
  width: 16px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
}
.v473_1180 {
  width: 23px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 42px;
}
.v473_1181 {
  width: 23px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
}
.v473_1182 {
  width: 20px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 96px;
}
.v473_1183 {
  width: 0px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 128px;
}
.v473_1184 {
  width: 23px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 134px;
}
.v473_1185 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 163px;
}
.v473_1186 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 193px;
}
.v473_1187 {
  width: 23px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 213px;
}
.v473_1188 {
  width: 17px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 240px;
}
.v473_1189 {
  width: 20px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
}
.v473_1190 {
  width: 21px;
  height: 28px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 287px;
}
.v473_1191 {
  width: 19px;
  height: 29px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 309px;
}
.v473_1192 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 493px;
  left: 0px;
  font-family: Archivo;
  font-weight: SemiBold;
  font-size: 140px;
  opacity: 1;
  text-align: left;
}
.v473_1193 {
  width: 100%;
  height: 250px;
  background: url("../images/v473_1193.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 1149px;
  left: 0px;
  overflow: hidden;
}
.v473_1194 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Archivo;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v473_1195 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Archivo;
  font-weight: Light;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
